:root{
  --color1: rgb(9, 11, 143),
  --color2: rgba(29, 113, 209, 0.788),
  --color3: rgba(135, 69, 223, 0.623)
  --fondo: #f2f2f2;
  --margenes: 60px;
  --espacios: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("../img/fondo1.png");
    background-attachment: fixed;

    
}

img{
  vertical-align: top;
}

  /* Header */
  header{
    width: 100%;
    height: 600px;
  }

  nav{
    width: 100%;
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
  }

  .nav1{
    background: transparent;
    height: 80px;
    color: #fff;
  }

  .nav2{
    background: var(--fondo);
    height: 100px;
    color: #000;
  }

  .container-nav{
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: inherit;
    overflow: hidden;
  }

  nav .links a{
    display: inline-block;
    padding: 5px 0;
    margin-right: 17px;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: inherit;
  }
  

  nav .links a:hover{
    border-bottom: 3px solid #8304f0;
    transition: 0.6s;
  }

  .logo, .logo img{ height: 80px;}

  .icono{
    display:none;
    font-size: 24px;
    padding: 23.5px 20x;
  }

  
  .elementos{
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    text-align: center;
  }
  
  .container{
    margin: auto;
    padding: var(--margenes) 0;
    width: 90%;
    max-width: 1000px;
    text-align: center;
    overflow: hidden;
  }

  .container h5{
    text-align: left;
  }

  .card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
  }

  .content-card{
    width: 31%;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
    overflow: hidden;
    height: 400px;
    border-radius: 10px;;
  }

  .added-jobs{
    height: 50%;
  }

  .content-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

  .texto-jobs{
    height: 20%;
    width: 100%;
    padding: var(--espacios) 0;
  }

  @media screen and (max-width: 700px) {
    .nav2{
      color: #fff;
    }

    .icono{
      display: block;
      cursor: pointer;
    }

    .links{
      position: fixed;
      top: 80px;
      left: 0;
      height: 100%;
      transition: 1s;
      background: #2c3e50;
      width: 0;
      overflow: hidden;
    }

    .links a{
      display: block;
      width: 100%;
      height: 50px;
      padding: 20px;
      text-align: center;
      background: #34495e;
      color: #fff;

    }
  }
  .text2{
    font-size: 30px;
    text-align: left;
  }
  .text1{
    font-size: 12px;
    text-align: left;
  }

  .btn-card{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }

  .btn-card:hover{
    background-color: aqua;


  }
  .search {
    border-radius: 35px;
    border-style: solid;
    border-width: 0.5px;
    height: 30px;
    width: 100%;
    padding: 15px;
}

input:focus {
  outline: none !important;
  border-radius: 35px;
  border-color: #5632D2;
  border-width: 2.5px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.473);
  -moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.473);
  -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.473);
  -khtml-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.473);
}